*,
html{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(235, 223, 175);
}

.container-navbar{
    background-color: rgb(45, 162, 230);
    width: 100%;
    height: 10vh;
}

.ul-navbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}


.li-navbar{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(240, 244, 247);
    font-size: 30px;
}

.li-navbar:hover{
    background-color: rgb(19, 16, 231);
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar{
    color: white;
    text-decoration: none;
}

.container-conten{
    background-color: rgb(42, 43, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content{
    background-color: rgb(87, 134, 87);
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0);
}

.img-conten{
    width: 30%;
    height: 39%;
}

.container-footer{
    height: 20px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h1-footer{
    font-size: 20px;

}